apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  sources:
  - repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 79.7.1
    helm:
      values: |
        grafana:
          admin:
            existingSecret: grafana-credentials
          persistence:
            enabled: true
            size: 10Gi
            storageClassName: nfs-client
          service:
            type: ClusterIP
          ingress:
            annotations:
              cert-manager.io/cluster-issuer: linds-ca
            enabled: true
            ingressClassName: nginx
            hosts: 
              - grafana.linds.com.au
            tls:
              - secretName: grafana.linds.com.au
                hosts:
                  - grafana.linds.com.au
            path: /
        prometheus:
          ingress:
            enabled: false
          prometheusSpec:
            retention: 15d
            retentionSize: "25GB"
            scrapeInterval: 30s
            evaluationInterval: 30s
            podMonitorSelectorNilUsesHelmValues: false
            serviceMonitorSelectorNilUsesHelmValues: false
            serviceMonitorSelector: {}
            serviceMonitorNamespaceSelector: {}
            podMonitorSelectorNilUsesHelmValues: false
            podMonitorSelector: {}
            podMonitorNamespaceSelector: {}
          storageSpec:
            volumeClaimTemplate:
              spec:
                storageClassName: nfs-client
                accessModes: ["ReadWriteOnce"]
        alertmanager:
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: nfs-client
                  accessModes: ["ReadWriteOnce"]
        kubeControllerManager:
          enabled: false
        kubeScheduler:
          enabled: false
        kubeEtcd:
          enabled: false
  - repoURL: https://github.com/Jayden-Lind/LINDS-Kubernetes
    targetRevision: master
    path: prometheus
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true

