apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: nginx-ingress
  source:
    chart: nginx-ingress
    repoURL: ghcr.io/nginx/charts
    targetRevision: 2.3.1
    helm:
      releaseName: nginx-ingress
      valuesObject:
        controller:
          kind: deployment
          hostNetwork: false
          disableIPV6: true
          enableExternalDNS: true
          service:
            create: true
            type: LoadBalancer
            externalTrafficPolicy: Cluster
          mgmt:
            resolver:
              ipv6: false
          replicaCount: 1
          enableLatencyMetrics: true
          ingressClass:
            name: nginx
            create: true
            setAsDefaultIngress: true
        prometheus:
          create: true
          port: 9113
          service:
            create: true
          serviceMonitor:
            create: true
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
