apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - pv.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: factorio

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"

namespace: factorio

