resources:
  # Local resources
  - coredns.yml

  - calico/calico-bgp.yml

  - nginx/linds-virtualserver.yml
  - nginx/pdf.yml
  - nginx/argocd.yml

  - linds/deploy/deployment.yml
  - linds/deploy/pdf.yml
