resources:
  # Local resources
  - coredns.yml

  - calico/calico-bgp.yml

  - nfs-provisioner/class.yml
  - nfs-provisioner/deployment.yml
  - nfs-provisioner/namespace.yml
  - nfs-provisioner/rbac.yml

  - nginx/linds-virtualserver.yml
  - nginx/pdf.yml
  - nginx/argocd.yml

  - linds/deploy/deployment.yml
  - linds/deploy/pdf.yml
